<nav class="navbar navbar-expand-lg navbar-primary bg-dark">
  <a class="navbar-brand" href="{%url 'allproducts' %}">E-Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{%url 'allproducts' %}">All Products</a>
          {% for cat in links %}
           <a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a>
          {% endfor %}
        </div>
      </li>

        <li class="nav-item">
        <a class="nav-link " href="{%url 'profile' %}">Profile</a>
      </li>
        <li class="nav-item">
        <a class="nav-link " href="{%url 'cart' %}">My Cart</a>
      </li>
    </ul>
    <form class="form-inline my-1 my-lg-0">
      <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-1 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>